*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Rboto;

}

body{
    font-family: sans-serif;
    background-color: antiquewhite;
    display:flex;
    justify-content: center;
    align-items:center;
    min-height: 100vh;
}

.container{
    text-align: center;
    width:100%;
    font-size: 1.2rem;

}
h1{
    margin-bottom: 2rem;
    padding:1.2rem;
}

#formid{
    margin-bottom: 20px;
    display:flex;
    justify-content: center;
    gap:10px
    
    
}
input{
    border-radius: 5px;
    height: 30px;
    font-size: medium;
}
button{
    padding:5px 10px;
    cursor: pointer;
    font-size: medium;
    border-radius: 5px;
    
    
}
button:hover{
    color: red;
    
    transform:translateY(-2px);
}

.board{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    max-width:1200px;
    margin:0 auto;
    gap:20px;
    

    
}

.list{
    display: flex;
    flex-direction: column;

    background-color: #e3e4e8;
    padding:1rem;
    width:20%;
    min-height:400px ;
    max-height: 400px;
    border-radius: 15px;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(rgb(225, 151, 151), rgb(146, 222, 146), rgb(141, 141, 241), alpha);
    

}

.list h2{
    
    background-color: rgb(228, 136, 136);
    margin-bottom: 1rem;
    font-size: 1.5rem;
    border-radius:5px;

}

.list >div{
    flex: 1; 
    overflow-y: auto; 
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card{
    background-color:aliceblue;
    margin-bottom: 0.5rem;
    padding:0.5rem;
    border-radius:5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    cursor:grab;
    transition: transform 0.2s,box-shadow 0.2s;
}

.card:active{
    cursor: grabbing;
    transform: scale(1.1);
    transition: 0.3 ease-in-out;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.list.over{
    background-color:rgb(240, 162, 162);

}

@media(max-width:768px){
    .board{
        flex-direction: column;
        align-items: center;
    }
    .list{
        width:80%;
    }

}







